.card{
  position:relative;
}
.corner {
  width: 0; 
  height: 0; 
  border-top: 150px solid red;
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
  position: absolute;
  right: 0;
}

.corner span {
  position:fixed;
  top: 30px;
  width: 100px;
  right: 5px;
  text-align: center;
  font-size: 16px;
  font-family: arial;
  transform: rotate(45deg);
  display:block;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.nav-tabs {
  margin-bottom: 15px;
}
.sign-with {
  margin-top: 25px;
  padding: 20px;
}
div#OR {
  height: 30px;
  width: 30px;
  border: 1px solid #C2C2C2;
  border-radius: 50%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  float: right;
  position: absolute;
  right: -16px;
  top: 40%;
  z-index: 1;
  background: #DFDFDF;
}